version: '2'
services:
  hazelcast-client:
    image: dummy-client:1
    depends_on:
        - hazelcast
    volumes:
        - ./src/main/resources:/configFolder
    environment:
        - JAVA_OPTS=-Dhazelcast.client.config=/configFolder/hazelcast-client.xml -Dhazelcast.member.address=hazelcast -Dgroup.name=hz-tt -Dgroup.password=s3crEt

  hazelcast:
    image: hazelcast/hazelcast:3.9
    volumes:
        - ./src/main/resources:/configFolder
    environment:
        - JAVA_OPTS=-Dhazelcast.config=/configFolder/hazelcast.xml -Dhazelcast.mancenter.url=http://mancenter:8080/mancenter -Dgroup.name=hz-tt -Dgroup.password=s3crEt
    links:
        - "management-center:mancenter"

  management-center:
    image: mc:tt
    volumes:
        - ./mc/data:/data
    environment:
        - JAVA_OPTS=-Dhazelcast.mc.rest.enabled=true
    ports:
        - 8080:8080